<!-- <div  style="height: 600px;width: 600px;" >
  
  <div class="card-body">
    <h4 class="card-title">Please Select any Template you want</h4>
    
    <button class="btn btn-primary" (click)="template1()"  >Template 1</button>
    <button class="btn btn-primary"  (click)="template2()">Template 2</button>
    <button class="btn btn-primary" (click)="template3()" >Template 3</button>
    <button class="btn btn-primary" (click)="template4()" >Template 4</button>
  </div>
</div> -->

<!-- Nav tabs -->
<ul class="nav nav-tabs" id="navId">
  <li class="nav-item">
    <a href="#tab1Id" class="nav-link active">Home</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Templates</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" routerLink="/alltemp">All templates</a>
      <a class="dropdown-item" routerLink="/ctemp">Create Templates</a>
     
    </div>
  </li>
 
  <li class="nav-item">
    <a href="#" class="nav-link disabled">Disabled</a>
  </li>
</ul>

<router-outlet></router-outlet>